

<meta charset="UTF-8">
<%= csrf_meta_tags %>
<div id="gradient"></div>
  <form class="searchbox" action="users#new" method="get">
  <label for=":q"> <input id="q" placeholder="Search for a book.." name="q" type="text">
  </form>

<div class="searchterm">
  <section id="search"> <%= @api.titles %> <br/>
    <%= @api.authors %> <%= @api.descriptions %>
  </div>



  <%= csrf_meta_tags %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
